[2017-07-21 20:55] youraerials opened #1 "onError handler (android)"
Hi, we're seeing

I/flutter ( 7919): _platformCallHandler call speech.onSpeechAvailability false
I/flutter ( 7919): _platformCallHandler call speech.onError 7
I/flutter ( 7919): Unknowm method speech.onError

on Android when speech recognition is running and the OS needs to do something (say, a text comes in).  I see the onError call in the Java file but I don't see it at the Dart level.  Maybe I'

[2017-08-19 20:26] lejard-h commented on #1
Same error for me on the last version, I have log on Android log cat
[code]

[2018-02-15 20:49] ColquePaxi commented on #1
This plugin is very very interesting and a great use case. Congratulations!!!

But same error to me too on Android. Anybody had sucessful?

[code]

[2018-03-18 03:04] rubencg195 opened #2 "Android, not able to use other Locales"
I've implemented a system in Flutter in which I can choose my language from a menu. The program starts by default in English but when I try to set it to Spanish or French it doesn't work.

I know that in the readme.md says that to make it work, more configuration is needed. ** The question is what do I need to do to make it work in other languages.**

 _speech.listen( **locale: widget._language**

[2018-03-18 13:10] b-connect commented on #1
See here https://stackoverflow.com/questions/35248075/android-speech-recognition-insufficient-permission-error-code-9/35784764

[2018-03-18 13:11] b-connect commented on #1
See here https://stackoverflow.com/questions/35248075/android-speech-recognition-insufficient-permission-error-code-9/35784764

Work for me (Error 9)

[2018-05-12 06:59] ABD-dev opened #4 "iOS Build Fail"
`Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    === BUILD TARGET speech_recognition OF PROJECT Pods WITH CONFIGURATION Debug ===
    <module-includes>:1:9: note: in file included from <module-includes>:1:
    #import "Headers/speech_recognition-umbrella.h"
            ^
    /Users/bogdandinga/Work/hacktm-assets/test_app/ios/Pods/Target Support Files/speech_recogniti

[2018-05-16 19:01] NTMS2017 opened #6 "stop when voice ends."
Hi there,

I want to press a listen button and it will start listens me with few second. When I stop it will ends the listing and translates to text. How do we do that?

Example: when I say "what is my balance" its stop and converts to text and search from given list and finds the "balance" word match and it open the Account or Balance page.

[2018-05-17 06:15] NTMS2017 opened #7 "Launching lib/main.dart on SM G935F in debug mode has error."
Launching lib/main.dart on SM G935F in debug mode...
Initializing gradle...
Resolving dependencies...
Running 'gradlew assembleDebug'...
Built build/app/outputs/apk/debug/app-debug.apk (31.3MB).
Installing build/app/outputs/apk/app.apk...
I/FlutterActivityDelegate(11364): onResume setting current activity to this
I/flutter (11364): _MyAppState.activateSpeechRecognizer...
I/flutter (11364): _platfo

[2018-06-26 06:46] prabhuthiran opened #8 "After listening stops, I am getting "app behavior is wrong""
``( 2000): [Mali]: gles_texture_bind_texture: Rendering feedback loop detected (texture=10), app behavior is wrong
E/        ( 2000): [Mali]: gles_texture_bind_texture: Rendering feedback loop detected (texture=10), app behavior is wrong
E/        ( 2000): [Mali]: gles_texture_bind_texture: Rendering feedback loop detected (texture=8), app behavior is wrong
E/        ( 2000): [Mali]: gles_texture_

[2018-06-27 09:17] ReFl3x0r commented on #1
About error 7 (https://developer.android.com/reference/android/speech/SpeechRecognizer):

public static final int ERROR_NO_MATCH
No recognition result matched.

Constant Value: 7 (0x00000007)

So whatever you're saying is not properly recognized. Error 6 means timeout, i've came across that one too.

Trying to figure out error handling right now, i'll update this post if i succeed.

[2018-07-07 20:52] vinvantest opened #9 "Flutter Android PIXEL Emulator - _platformCallHandler call speech.onError 2"
Hi,

First of all thanks for the utility. It works perfect on iOS.
I am having issues with Android Emulator (android-x86). When I start the emulator and then run flutter run I don't see any errors. It loads the speech.dart implementation without any errors. It does get the call speech.onSpeechAvailability true.

Now when I press Listen it throws error

D/SpeechRecognitionPlugin(10082): onError : 2

[2018-07-07 21:01] vinvantest commented on #9
Looks like after google search I found Error code 2 means Network_error. Still not sure how to fix it in android-emulator x86 in Flutter.

[2018-07-07 21:09] vinvantest commented on #9
And here is the complete code file Flutter

import 'package:flutter/material.dart';
import 'package:speech_recognition/speech_recognition.dart';
import 'package:tts/tts.dart';

class SpeechBot extends StatefulWidget {
  @override
  _SpeechBotState createState() => new _SpeechBotState();
}

class _SpeechBotState extends State<SpeechBot> {
  SpeechRecognition _speech;

  bool _speechRecognitionAvail

[2018-07-10 19:19] andrewackerman opened #10 "iOS Code Error"
On building for iOS, the code is throwing an error on line 115 in the file "SwiftSpeechRecognitionPlugin.swift":

    guard let inputNode = audioEngine.inputNode else {

Xcode's output:
↳
=== BUILD TARGET speech_recognition OF PROJECT Pods WITH CONFIGURATION Debug ===
/\<flutter-lib\>/.pub-cache/hosted/pub.dartlang.org/speech_recognition-0.2.0+1/ios/Classes/SwiftSpeechRecognitionPlugin.swift:115:1

[2018-07-11 23:16] zinwalin commented on #10
remove guard keyword, and make changes to like this:

let inputNode = audioEngine.inputNode

[2018-07-12 00:35] andrewackerman commented on #10
@zinwalin I'm well aware of how to fix the issue. I posted here because it's a standing issue with the codebase that other people will also have to account for and thus should be fixed at the source. (Though judging by the fact that the last commit in this repo was over a year ago, that fix probably isn't going to happen any time soon.)

[2018-07-18 16:37] rubencg195 commented on #2
@rxlabz How can I add other languages to Android programatically?

[2018-09-05 15:04] DineshkumarThiran opened #11 "Add support to dart sdk version above 2.0.0"
I am getting this error while running flutter packages get.,

Running "flutter packages get" in  App...
The current Dart SDK version is 2.1.0-dev.0.0.flutter-be6309690f.

Because App depends on speech_recognition >=0.2.0+1 which requires SDK version <2.0.0, version solving failed.

Can you please add support to the dart 2.1?

[2018-09-06 07:32] vinvantest opened #12 "onRecognitionComplete() on Android gets called twice"
Hi,

I am facing a strange issue on Android (PIXEL 2) real device and android simulator too. I get
void onRecognitionComplete() => setState(() async { called twice.

Here's the dump of the log from Android Studio...

09-06 17:09:31.417 18931-18975/? I/flutter: Your currentLocale is en_AU
09-06 17:09:36.721 18931-18975/? I/flutter: _SpeechBotState.start => result true
09-06 17:09:39.595 18931-18975

[2018-09-11 07:40] gurgenDP commented on #11
Same problem. Please follow up

[2018-09-11 10:49] gurgenDP commented on #1
I have faced the same issue. Fixed it by enableing microphone permision from app settings. Also you can do that programatically with this plugin https://pub.dartlang.org/packages/simple_permissions.

[2018-09-14 08:28] dbbd59 commented on #11
Same here

[2018-09-17 18:38] OsmanBrito commented on #11
My proposal solution https://github.com/rxlabz/speech_recognition/pull/13

[2018-09-25 12:45] aman-malhotra-1999 opened #14 "Dart SDK <2.0.0 required while running packages get . (pug get failed (1))"
D:\Flutter\Sdk\flutter\bin\flutter.bat --no-color packages upgrade
**Running "flutter packages upgrade" in music_player...
The current Dart SDK version is 2.1.0-dev.3.1.flutter-760a9690c2.**
**Because music_player depends on speech_recognition any which requires SDK version >=1.23.0 <2.0.0, version solving failed.
pub upgrade failed (1)**

[2018-10-24 06:31] jacqueslewis commented on #14
I have the same issue

[code]

[2018-11-27 20:10] #10 closed

[2018-11-27 20:12] rxlabz commented on #14
sorry for the delay, but it's fixed now.

[2018-11-27 20:12] #14 closed

[2018-11-27 20:14] rxlabz commented on #11
sorry I wasn't very active this year... it's fixed now

[2018-11-27 20:14] #11 closed

[2018-11-30 00:33] mcconkiee opened #16 "Xcode Build Fails (AVAudioSession?)"
I'm unable to run an iOS build. The following errors happen to me running against iOS 12. This is a simulator (perhaps a reason?), have not tried on a device. Please let me know if you need more info.

XCode 10.1
Project is swift (Language version 4)

[code]

[2018-11-30 01:14] mcconkiee commented on #16
ok.... Here's how i fixed this:

1. remove the dependency and get flutter app to compile as was before installing `speech_recognition`
2. In XCode, update the target to latest Swift Syntax (apparently, needs to be 4.2?)
3. add back the dependency to `pubspec.yml` in flutter app
4. in the `SwiftSpeechRecognitionPlugin.swift` file, change line 111 (see old commented line)
[code]

i'd PR this, but do

[2018-12-01 14:13] ROTGP commented on #16
I'm having a similar issue... @mcconkiee 's fix didn't work for me.

[2018-12-02 16:58] ROTGP commented on #16
Just to follow up... my errors above were because I wasn't using Swift 4.2 (which requires XCode 10). The syntax used in this package is specific to Swift 4.2.... compiling with 4.1 won't work. Also, the Podfile requires:
`config.build_settings['SWIFT_VERSION'] = '4.2'`
just below the 'ENABLE_BITCODE' line, and also:
`use_frameworks!`
just below
`target 'Runner' do`

This was all very painful to f

[2018-12-04 05:44] Harikrishna2896 opened #17 "onError : 7 issue"
An error has occurred namely "onError : 7" when the cancel button is clicked immediately after the  start button  is pressed (such that nothing has been spoken inbetween).

[2018-12-05 11:38] rxlabz commented on #16
sorry I did not realized that 4.2 was available for XCode10 only. I updated the README.

[2018-12-07 21:42] MuhammamdArslanKhan opened #19 "_platformCallHandler call speech.onError 9 issue"
Speech error while pressing Listening button "_platformCallHandler call speech.onError 9".

[2018-12-13 16:02] qalqi commented on #1
You have to provide microphone permissions from app settings or alternatively, as suggested by @gurgenDP  you can do following

[code]

[2018-12-20 06:33] scottwinter commented on #19
I was having this same issue.  I have found that even though I was setting the permissions for the "RECORD_AUDIO" in the AndroidManifest.xml, I was still getting this error.  By using the below "permissions" plugin, I was able to prompt and accept the "RECORD_AUDIO" permission at run time which worked perfectly.  Also see my sample app using the speech_recognition and permissions plugins to make t

[2019-01-03 13:26] linguitang opened #20 "Support chinese?"

[2019-01-04 02:39] #20 closed

[2019-01-09 13:49] KarHack opened #22 "IOS onRecognitionComplete() not called at all"
This might be an error on my part, but I implemented the code as suggested in the examples, and it runs perfectly on android but on IOS the onRecognitionComplete() is not called.
Great plugin though, works very well.

[2019-01-20 14:08] mahi1995 commented on #9
Same issue here... Any luck???

[2019-02-05 11:34] andrezanna commented on #12
Hi to solve the problem I had to remove the methodchannel call in onEndOfSpeech() in android/SpeechRecognitionPlugin.java.
As per documentation, on Android, RecognitionListener calls onEndOfSpeech every time a user stop talking and onResults when the recognition is completed, so in some case onRecognitionComplete can be called twice.
I'm not sure this is the best solution, but hope this helps...

[2019-02-06 14:43] mingxun commented on #9
I have the same issue when running on simulator. But it works fine on real device.  Hope this helps other people who got the same issue.

[2019-02-20 09:49] lljxx1 opened #26 "other language such as zh_CN"

[2019-02-27 13:49] YuzhouZhang commented on #26
Yes! This plugin do can recognize Chinese.

[2019-02-27 13:58] YuzhouZhang opened #27 "Could you add onRmsChanged result to this plugin? THX"
When I use this plugin, I noticed that at Run Console, onRmsChanged results were displayed like below:

D/SpeechRecognitionPlugin(28376): onRmsChanged : 1.6000001
D/SpeechRecognitionPlugin(28376): onRmsChanged : -2.0
D/SpeechRecognitionPlugin(28376): onRmsChanged : 2.8000002
D/SpeechRecognitionPlugin(28376): onRmsChanged : 2.8000002
D/SpeechRecognitionPlugin(28376): onRmsChanged : 6.3999996
D/Spee

[2019-03-06 18:51] ROTGP commented on #22
I'm having no issues with onRecognitionComplete and iOS... works fine for both Android and iOS.

[2019-03-11 23:37] nerddigestive opened #28 "Push new version to pub.dartlang.org"
I would like to use recent major feature updates in a larger project, however, the most recent build available from pub.dartlang.org is back from November. This prevents us from being able to use features such as the error handling, which is a big deal! I would greatly appreciate it if you could update the package listing with a recent build. We really appreciate the work that you have done on thi

[2019-03-17 10:32] janstol commented on #28
It's not ideal, but you can use:
[code]

[2019-03-18 23:09] nerddigestive commented on #28
Thanks for this - I didn't know that Dart allowed for fetching dependencies directly from Git.

[2019-03-18 23:10] #28 closed

[2019-03-26 06:49] glennmichaelmejias opened #30 "dart(argument_type_not_assignable) on example project"
lib/main.dart:53:43: Error: The argument type 'void Function()' can't be assigned to the parameter type 'void Function(String)'.
Try changing the type of the parameter, or casting the argument to 'void Function(String)'.
    _speech.setRecognitionCompleteHandler(onRecognitionComplete);

[2019-03-26 09:50] janstol commented on #30
`setRecognitionCompleteHandler` now takes StringResultHandler (instead of VoidCallback) as a parameter - see 01b8f6d1612e7a5aa38ed51f2b80c6a3e5c237a9

To fix this problem, change:
[code]
to:
[code]

[2019-03-26 19:19] Renesanse commented on #27
https://github.com/rxlabz/speech_recognition/pull/31

[2019-03-29 06:09] AgustLite opened #32 "IOS , not able to use other locales"
How can i use another language on ios with this plugin? i already change the locale language but the speech recognition seems didn't get the local language

[2019-04-06 13:37] garagecode commented on #6
You can override the setRecognitionCompleteHandler method and put the code you want to run after listening stops.

Example :

_speech.setRecognitionCompleteHandler(() {
      setState(() {
        _isListening = false;
        _isAvailable = true;
      });
         // do some stuff
    });

[2019-04-10 20:36] Neneil94 opened #35 "Not able to use "de_DE" locale"
"en_US" runs like expected. But when I try using "de_DE" it takes the default french locale. Do I have to add "de_DE" somewhere else?

`
_speechRecognition.listen(locale: "de_DE").then((result) => setState(() {
            _textController.text = resultText;
            resultText = "";
          }));
`

[2019-04-17 15:34] willypaffen opened #36 "SpeechRecognitionPlugin.java uses or overrides a deprecated API. Note: Recompile with -Xlint:deprecation for details."
After I updated Dart to 2.2.0 and Flutter to v1.4.9-hotfix.1, the application quit with message: Unfortunately, app has stopped.

Any hint on how to solve this problem would be greatly appreciated.

[2019-04-30 13:40] jld3103 commented on #35
Same issue on android.

[2019-05-01 15:35] dheerajv09 opened #38 "Error 9"
I am getting some sort of error .
![Annotation 2019-05-01 205916](https://user-images.githubusercontent.com/40259140/57025444-c6ceb900-6c54-11e9-9a44-8cacc0d2d286.jpg)

Can anyone help me

[2019-05-03 16:42] crashinc99 opened #39 "Build Error: can't find speech_recognition-Swift.h"
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **
Xcode's output:
↳
    === BUILD TARGET speech_recognition OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/abcdefg/Development/flutter/.pub-cache/hosted/pub.dartlang.org/speech_recognition-0.3.0+1/ios/Classes/SpeechRecognitionPlugin.m:2:9: fatal error: 'speech_recognition/speech_recognition-Swift.h' file not fou

[2019-05-04 18:51] vintage commented on #38
Hey @dheerajv09 - I just published a PR which makes such errors more developer-friendly https://github.com/rxlabz/speech_recognition/pull/40 The error code 9 is about missing permissions:

1. Make sure you've added `<uses-permission android:name="android.permission.RECORD_AUDIO" />` to `AndroidManifest`
2. Before starting speech recognition ask user for proper permission. I'm using https://pub.dar

[2019-05-07 03:14] dheerajv09 commented on #38
I figured it out.
Thanks for help

[2019-05-07 08:58] SHAKTHI62 opened #41 "Android - error: The argument type '() → void' can't be assigned to the parameter type '(String) → void'."
Hi,
I tried to import the project in Android studio, the project sync working fine, after the compiler error displayed,

error: The argument type '() → void' can't be assigned to the parameter type '(String) → void'. (argument_type_not_assignable at [speech_recognition_example] lib\main.dart:53)

[2019-05-07 09:01] SHAKTHI62 commented on #41
Compiler message:
lib/main.dart:53:43: Error: The argument type 'void Function()' can't be assigned to the parameter type 'void Function(String)'.
Try changing the type of the parameter, or casting the argument to 'void Function(String)'.
    _speech.setRecognitionCompleteHandler(onRecognitionComplete);

[2019-05-09 14:05] vintage commented on #41
Hey @SHAKTHI62

See here - https://github.com/rxlabz/speech_recognition/pull/29/files#diff-d9a718a3042c2ebab14df5f34ef46a52R53 - to check how to fix the example project

[2019-05-09 14:22] vintage commented on #39
@crashinc99 Can you show content of yours `ios/Podfile` file?

[2019-05-09 21:29] crashinc99 commented on #39
I fixed my issue.  I had a bunch of different minor issues.  I changed a few things to get everything to work but I don't remember which specific changed fixed this issue.  Was hoping to document the fix for future use by someone else.  Sorry.

[2019-05-09 21:29] crashinc99 commented on #39
...and thanks for responding!

[2019-05-10 05:43] SHAKTHI62 commented on #41
Hi @vintage ,
Thank you so much for your update.
The issue is fixed, but i how can compile the flutter plugin project and run the example flutter project.
I run the example project "Program linking failed." error message displayed.

[2019-05-10 10:06] vintage commented on #41
1. Clone the repo
2. Open it with Android Studio
3. Open `pubspec.yaml` and at the top click on `Packages get`
4. Start the emulator
5. Click on `Play` button to build & run the example app

That's it - should build and run the example app on your emulator. Can you provide the logs with error?

[2019-05-13 10:32] yuanchen1 opened #42 "Configure project :speech_recognition Checking the license for package Android SDK Platform 25 in /home/yuanchen/Android/Sdk/licenses Warning: License for package Android SDK Platform 25 not accepted"

[2019-05-13 11:36] vintage commented on #42
Could you elaborate on the issue?

[2019-05-14 19:20] shinayser commented on #35
I am also interesed on it, but on my case is "pt_BR"

[2019-05-14 19:46] shinayser commented on #16
I was able to make it running by changing my podfile as that:

[code]

[2019-05-14 22:10] Neneil94 commented on #35
I solved it: [https://stackoverflow.com/questions/55617627/flutter-speech-recognition-locale-de-de-not-working](url)

Have a look at SwiftSpeechRecognitionPlugin.swift
Best way search for it in Xcode, my VS Code didn't find it.

[2019-05-14 22:34] shinayser commented on #35
That worked for me too.
Pehaps the library should have a method that receives a locale as parameter and loads it internally, instead of instantiating them one by one?

@rxlabz what you think?

[2019-05-15 18:31] cameronsoftware opened #43 "Activate, cancel stop lifecycle"
First of all, Thanks very much for doing this work and helping others.

I am trying to understand the "optimal" use of the library.  In my app, there really is only one screen, and as long as my app is open, there is a button, ready for speech recognition.

When is it best to register callback handlers and then call activate()?  On app startup, or when the user presses the UI button for speech rec

[2019-05-19 15:39] crashinc99 opened #45 "iOS simulator vs iPhone"
I was able to implement an app that accepts voice commands.  This is an iOS project at this point.  I want to keep speech recognition running for extended periods.  The setRecognitionCompleteHandler seems to be getting called automatically by iOS every minute or so.  So, I reinitialize speech recognition from the CompleteHandler.  This works well in the iOS simulator.  Voice commands are activated

[2019-05-24 17:15] abianche commented on #22
I have a similar issue on iOS: the onRecognitionComplete is called, but not as quick as it happens on Android. Basically after I start the recognition and I speak something, it takes like 10 seconds before it completes.
Anyone has a clue?

[2019-06-04 22:00] lhcdims opened #46 "Android Speech_recognition not working in China"
# Steps to reproduce this problem:

1. While inside China, connect the Android Phone to the internet. (IOS not tested)

2. Run the example app.  (CANNOT recognize speech)

3. Connect any Hong Kong or USA VPN Server (or any other countries with Google not blocked).

4. Run the example app again. (CAN recognize speech)

5. Turn off the VPN and run the app again. (CANNOT recognize speech)

[2019-06-05 19:42] antonmolchan opened #47 "Stop listening when voice end"
Hi, on Android platform when listening started, user speak some voice and when user stop speaking, application stoped to listen him. On IOS that function dont worked, and application listening all time while user do not clicked on stop button.
Is it possible to stop listening user if he finished talking?

[2019-06-06 05:31] chunhunghan commented on #41
Thank you for your information. Example work great now

[2019-06-06 06:24] chunhunghan commented on #36
encounter the same issue and example can't work with real device Samsung Galaxy J7 Pro.

[2019-06-06 15:20] shinayser commented on #47
I solved that on iOS by using a timer. Every time a new wrod comes from the speech recognition stream, I call it:

[code]

[2019-06-07 00:03] antonmolchan commented on #47
@shinayser
Hi, i write the same code, works good.
Maybe you know how on android set listening only for eng language ? When i start application on phone with rus language, application try to listen rus or eng voice(when i say only one word, in most cases i seen rus text), but when i setup phone on eng language all works fine.

[2019-06-07 20:21] wardpenney commented on #38
@dheerajv09 did you find out something other than the permission in `AndroidManifest.xml`? I have that permission set, but I keep getting Error 9, and it is not popping up a request for permission.

[2019-06-08 04:23] dheerajv09 commented on #38
I will suggest instead of using emulator  try to run program in your real mobile , by giving all the permission  in settings specially microphone permission.
 This worked for me.

Let me know if it workes with you.

[2019-06-08 14:15] wardpenney commented on #38
@dheerajv09 Got it, thank you!

Perhaps it is an issue on emulators only. My emulator does not request permissions to the user, which is strange.

[2019-06-10 10:22] mazo20 opened #48 "Microphone stays on after stop() and close()."
I am building an app where I use both speech recognition and text-to-speech. However, I have encountered an error where the microphone used for speech recognition is being kept on even after I stop the recognition with stop() or close() or if it completes on its own.
If the mic is kept on I cannot play any sounds and hence the text-to-speech doesn't work after I use speech recognition.

[2019-06-12 16:44] rodrigonettooliveira opened #49 "Speeche recognition is not run"
In my android studio emulator the application hangs.
I saw that the emulator has no language installed.
who can help me

[2019-06-25 07:35] chunhunghan commented on #49
Please try this
https://stackoverflow.com/questions/5916521/how-can-you-make-the-android-emulator-support-speech-recognition

[2019-07-02 17:33] nikli2009 commented on #46
Seems that this feature is online mode only. It will be GREAT if this plugin can support offline mode.

[2019-07-04 18:41] issam1975 opened #51 "continous speech"
Hi,

is there a way to use continuous speech with this plugin ?

thanks .

[2019-07-05 03:22] uber1geek opened #52 "iOS Build Fail"
[code]

[2019-07-05 03:31] #52 closed

[2019-07-08 07:27] pyzenberg opened #53 "The method 'setErrorHandler' isn't defined for the class 'SpeechRecognition'."
Hi, I'm using the latest available package:
[code]

the flutter doctor output:
[code]

trying to check the basic example app:

[code]

and getting this message:

[code]

also some suspicious error from my previous run (flutter run output):
[code]

[2019-07-13 14:17] nerddigestive opened #54 "Plugin throws an error and does nothing when attempting to start recognition"
I am using a version of the plugin up to date with master on this Git repo. I also get the warning that another reporter mentioned regarding the use of deprecated libraries when I build.

I am testing on the Pixel 3 XL - currently this issue prevents any usage of the package.

[code]

[2019-07-14 07:16] JsDoingYJ commented on #39
I have the same problem, can you tell me how to fix this issue? Please.

[2019-07-14 07:19] JsDoingYJ commented on #53
I have the same issue, and I have another issue is 'speech_recognition/speech_recognition-Swift.h' file not found. I don't know why?

[2019-07-15 07:03] toleds commented on #53
the source in pub.dev is different from the source in here., i copied the main.dart here and it works.

[2019-07-24 15:09] akhil-raj-git commented on #51
I was testing this out. It seems the API doesn't allow longer than 1 minute 30 seconds range. You'll have to click listen again. I'd love for a workaround for this. Maybe we can get the ball rolling on this.

[2019-07-25 07:55] RomanSoviak opened #55 "confidence"

[2019-07-25 07:55] #55 closed

[2019-08-03 10:32] Grekain1 commented on #39
@JsDoingYJ

Creating a fresh project I can tell you the exact steps I did to make it work for me finally:
- As in the readme, add the package to your pubspec.yaml and add the required permissions in your Info.plist (I did it for iOS).

- In the podfile, add `use_frameworks!` under `target “runner do“`
- Also in the podfile, add `config.build_settings[‘SWIFT_VERSION’] = ‘4.2’` under `config.build_s

[2019-08-08 08:02] midhunarmid commented on #32
Any update on this issue will be really helpful.

I want to use the Japanese language for voice search.
Any idea on how to achieve this with this Flutter plugin?

[2019-08-28 07:41] nmfisher commented on #48
This is because the plugin sets the audioSession category to "record":

https://github.com/rxlabz/speech_recognition/blob/d527d13d16c2a9cd001bf14a4372ec74c69f72b2/ios/Classes/SwiftSpeechRecognitionPlugin.swift#L111

Which does not permit playback.
You have two options:
1) After speech recognition is invoked, manually set the category to playback in your text-to-speech code.
2) Fork the speech_reco

[2019-08-30 13:13] mark922 commented on #17
Is this issue merged and released in v0.3.0+1?

[2019-09-02 13:41] namnh06 commented on #16
I still dont see the config on the README man. Still struggle on this one, fix follow @ROTGP & @shinayser but no luck.

[2019-09-02 13:52] namnh06 opened #56 "Unable to determine Swift version for the following pods when install speech_recognition"
I got this error when trying to integrate speech_recognition to my app and running it on IOS.

I thought the error is very clear, how would I fix it?
Thank you.

[2019-09-04 09:34] TianSc opened #57 "speech.onError blocks App from working"
[code]

[2019-09-06 07:09] TianSc commented on #53
Can you please post the fix you got here? Unable to find the pub.dev

[2019-09-06 07:57] pyzenberg commented on #53
My (not so clean) workaround was to separate `speech_recognition.dart` into my own project structure and remove `setErrorHandler` method from it. It's working for me.
Here is the patch file in .txt format:
[error_handler_patch.txt](https://github.com/rxlabz/speech_recognition/files/3582858/error_handler_patch.txt)

[2019-09-06 11:36] mohamedashraf8850 commented on #57
Same Error

[2019-09-07 14:55] gpapadas commented on #2
Hello, my device's locale is el_GR (Greek) but the plugin understands/converts speech to text only English.  Is there a way to fix this?

[2019-09-08 00:41] Classy-Bear opened #58 "SpeechRecognitionPlugin.java uses or overrides a deprecated API."
flutter/.pub-cache/hosted/pub.dartlang.org/speech_recognition-0.3.0+1/android/src/main/java/bz/rxla/flutter/speechrecognition/SpeechRecognitionPlugin.java uses or overrides a deprecated API.

[2019-09-09 11:34] kushtra24 opened #59 "https://stackoverflow.com/questions/57853127/speech-recognition-error-on-ios-thread-1-exc-bad-access-code-2-address-0x16f4"
I installed this speech recognition package on a flutter project it works very fine with android but on iOS it gets stock at the splash screen

on Xcode I get this error: Thread 1: EXC_BAD_ACCESS (code=2, address=0x16f21ffe0) see image below enter image description here
<img width="1065" alt="Screenshot 2019-09-09 at 13 18 29" src="https://user-images.githubusercontent.com/288865/64527496-689e9a80

[2019-09-09 20:24] AlexanderUsselmann opened #60 "error on iOS error: type 'AVAudioSession.Category' (aka 'NSString') has no member 'record'"
On a clean setup I get errors on IOS. (Android application runs normal)...
By adding  "speech_recognition: "^0.3.0" to pubspec.yaml and running on IOS I get the following error Message:

Would like to learn more to find a solution.

[2019-09-09 23:06] raphaelbravoei commented on #56
Just Change Swift Version man

[2019-09-10 02:52] namnh06 commented on #56
I guess that solution could help.
But how could I do it man? Is there any keywords help me for that? I'm not from mobile development before.
It's great to know more from you @raphaelbravoei .
Thanks.

[2019-09-10 15:21] namnh06 commented on #56
Hi @raphaelbravoei , I don't think it works. I have this error when try to pod install:
`Installing speech_recognition (0.3.0)
[!] Unable to determine Swift version for the following pods:

- `speech_recognition` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute i

[2019-09-10 18:56] AlexanderUsselmann commented on #60
I found a solution and maybe this solution is helpful for beginners that start with speech_recognition.
[Here](XCode10 required => Xcode Build Fails (AVAudioSession?) #16) I Found out that it needs to be Swift 4.2

To make it work on a new Flutter project in Android Studio following steps solved the issue:
1. open the iOS project in Xcode (Tools-->Flutter-->Open IOS Module in Xcode)
2. in xcode se

[2019-09-10 18:56] #60 closed

[2019-09-11 18:42] HardikDG commented on #52
Getting same error. What did you do to solve it?

[2019-09-11 19:00] HardikDG commented on #52
If anyone come to this with a similar issue,  #16
[iOS Build issue](https://github.com/rxlabz/speech_recognition/issues/16#issuecomment-443522716)

[2019-09-12 04:03] HardikDG commented on #58
Any solution for above issue?

[2019-09-14 13:57] MeStrak commented on #12
Thanks for this tip @andrezanna. I don't know if there will be other consequences from this change, but it's good enough for the basic test I'm trying to do :)

[2019-09-16 02:34] sumitkarmakar1 opened #61 "Hi ,the example app you have given stops with in 1 sec and the error on debug console is below. Whatever i say after starting the button within in under 1 second gets converted. after that is stops . Is it designed so that it stops after 1 sec."
![error speech](https://user-images.githubusercontent.com/50320394/64931795-7e591600-d858-11e9-9485-8f2eaba9a1ce.PNG)

[2019-09-16 03:07] sumitkarmakar1 commented on #61
I have added location permission now it hold for 3-4 seconds but it stops after that and converts. How can we continuously convert speech into words till we stops intentionally on press of a button?

[2019-09-16 13:56] daothan1211 opened #62 "Volume decreases after invoking speech recognition on IOS."
Hi team.
I’m using speech_recognition 0.3.0+1 with flutter. I’ve tested with simulator IOS, it worked properly.
But when I build and test on a real device (iPhone 7 plus), have a problem, when the first time I start the app, volume work as normal, but whenever I invoke a speech recognition, the overall volume of the app decreases.
I tried to fix follow [guide](https://github.com/nmfisher/speech_re

[2019-09-19 17:12] ogulcandogan opened #63 "Swift Version couldn't find"
- `speech_recognition` does not specify a Swift version and none of the targets (`Runner`) integrating it has the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.

[2019-09-20 21:11] tsinis commented on #22
@abianche, @KarHack
same here... did you guys find some solution? Thanks in advance

[2019-09-20 21:51] tsinis commented on #12
Hi @andrezanna,

where is that SpeechRecognitionPlugin.java file located? i dont have such at my android directory... thanks in advance

[2019-09-20 21:57] andrezanna commented on #12
It's a lot time i don't use it, but the file i had to modify was this one:
https://github.com/rxlabz/speech_recognition/blob/master/android/src/main/java/bz/rxla/flutter/speechrecognition/SpeechRecognitionPlugin.java

[2019-09-25 08:30] crizant commented on #48
@nmfisher I tried option 2 and still not working.

BTW I use this library to play audio:
https://pub.dev/packages/flutter_tts

[2019-09-25 08:51] crizant commented on #62
Because the `AVAudioSession` is set to `measurement`.

You may:
1. In the swift code which plays audio, set the `AVAudioSession` mode back to `default`
2. Clone this repo, and remove line 112:
[code]
in SwiftSpeechRecognitionPlugin.swift.

[2019-09-25 09:39] daothan1211 commented on #62
Thanks for your response,
And, do we still need use Swift 4.2?

[2019-09-25 09:39] crizant commented on #62
@daothan1211 Yes in my case.

[2019-09-25 09:40] daothan1211 commented on #62
Thanks for your support, I will try and hope it will work properly.

[2019-09-25 13:52] daothan1211 commented on #62
@crizant Thanks so much, It works.
And it can work with Swift 5.

[2019-09-27 08:37] tsinis commented on #12
@andrezanna, thanks, working perfect!

[2019-10-01 01:39] #62 closed

[2019-10-01 14:57] daothan1211 opened #64 "SpeechRecognitionPlugin.java uses or overrides a deprecated API. Note: Recompile with -Xlint:deprecation for details."
I open this issue due to it still happens without any solution to solve this.
Does anyone have any idea about this?

I even followed setup:
[https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility](https://flutter.dev/docs/development/packages-and-plugins/androidx-compatibility)

Thanks, team.

[2019-10-04 14:30] daothan1211 commented on #64
Close due to it solved after upgrade grade by android studio

[2019-10-04 14:30] #64 closed

[2019-10-05 03:13] daothan1211 commented on #32
Try with:
Change Info.plist
 `<string>$(DEVELOPMENT_LANGUAGE)</string>`
to
`<string>en_US</string>`

[2019-10-08 12:48] tsinis commented on #47
@antonmolchan @shinayser
Guys, sorry for noob question, but how to implement this code?

[code]

There is no boolean forceDetectSpeechDetectionOff in this package, so as _lastWordTimer definition... Thanks

[2019-10-11 08:46] monggos commented on #47
@tsinis

declare a class Timer variable..
Line: 53

put it on your callback..

Line: 182 to 186

<img width="634" alt="Screen Shot 2019-10-11 at 4 42 55 PM" src="https://user-images.githubusercontent.com/2043996/66637798-589c1280-ec46-11e9-9971-f40d847c58cf.png">

[2019-10-11 08:59] monggos commented on #48
yes, i also manually updated this file..
/ios/.symlinks/plugins//speech_recognition/ios/Classes/SwiftSpeechRecognitionPlugin.swift

i hope i will not forget that i updated the file and upgrade the version.. hehehe..

<img width="774" alt="Screen Shot 2019-10-11 at 4 58 09 PM" src="https://user-images.githubusercontent.com/2043996/66638887-62bf1080-ec48-11e9-9cbe-4cba86170af2.png">

[2019-10-11 13:20] tsinis commented on #47
@monggos
Awesome, now I get it, at first I didn’t understand where the Тimer class comes from etc. Now it's works like a charm. Thanks a million!

[2019-10-16 12:18] AtillaPehlivan commented on #63
may be this will help you
https://github.com/rxlabz/speech_recognition/issues/16#issuecomment-443522716

[2019-10-17 13:20] wish4129 commented on #51
how do you make it like to 1 minute 30 seconds. Mine stops like 1 second after I speak. "Hello World" is spoken but only "Hello" is processed

[2019-10-18 12:55] wish4129 opened #65 "onError: 5"
![Screenshot_1](https://user-images.githubusercontent.com/8197678/67095822-725ecc00-f1e9-11e9-926a-658d6f9047c6.png)

Anyone had this problem hitting unknown Error 5? it happens when I try to use the speechRecognition more than a few times.

[2019-10-19 09:34] ramsham2411 commented on #12
I am actually getting the same error and i am a newBie what can I do

[2019-10-19 10:09] andrezanna commented on #65
https://developer.android.com/reference/android/speech/SpeechRecognizer
you can look here for details

[2019-10-19 10:16] tsinis commented on #12
Hi @ramsham2411

All you need is locate and comment this line:
https://github.com/rxlabz/speech_recognition/blob/d527d13d16c2a9cd001bf14a4372ec74c69f72b2/android/src/main/java/bz/rxla/flutter/speechrecognition/SpeechRecognitionPlugin.java#L121
it can be located in SpeechRecognitionPlugin.java file. Locate it by left click with Ctrl on any of plugin classes or methods, then in address bar you can s

[2019-10-21 07:58] #65 closed

[2019-10-21 07:59] wish4129 commented on #65
turn out it's my api not responding properly cause the recognizer not working properly

[2019-10-28 19:53] shanedroid32 commented on #61
I have been having the same issue and CANNOT find a solution. Is anyone maintaining this project?

[2019-10-29 12:38] namnh06 commented on #63
Hi @AtillaPehlivan , I still got this error when try to change follow your comment link.

Could you send us an example to fix this?

Thanks.

[2019-11-02 05:26] Anand195 commented on #36
Same Here

[2019-11-04 18:55] toshiossada opened #66 "Error on Android Pie"
I tried to run example  on android Pie API 28 but when I clicked to record I got following error

I/flutter (13784): _platformCallHandler call speech.onSpeechAvailability false
I/flutter (13784): _platformCallHandler call speech.onError 2
I/flutter (13784): Unknowm method speech.onError

[2019-11-07 19:12] toshiossada opened #67 "SpeechRecognitionPlugin.java uses or overrides a deprecated API."
When I Run app, I got a note
Note: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\speech_recognition-0.3.0+1\android\src\main\java\bz\rxla\flutter\speechrecognition\SpeechRecognitionPlugin.java uses or overrides a deprecated API.
Note: Recompile with -Xlint:deprecation for details.

[2019-11-07 19:22] fatimahossny commented on #61
Is there any availability to increase time of listening ?

[2019-11-08 12:38] ramsham2411 commented on #47
I am having a problem with IOS, OnRecognitionResultHandler is never called after speaking. As @monggos  showed, I did follow the same but not Working Any Suggestions.

[2019-11-08 12:45] ramsham2411 commented on #22
I am also having the same issue as any updates for this one?

[2019-11-11 11:09] Harishpenta commented on #66
i am also facing same issue.

[2019-11-11 13:21] toshiossada commented on #66
I tried to run on device with Android Q (Google Pixel) and works very well, i got the error only at the emulator

[2019-11-12 15:14] monggos commented on #47
@ramsham2411  first, check your callback registration if set correctly.. like this..

<img width="680" alt="Screen Shot 2019-11-12 at 11 12 41 PM" src="https://user-images.githubusercontent.com/2043996/68683574-f9f9e980-05a1-11ea-8d5b-e28261c5c143.png">

[2019-11-13 18:39] amit-onappr opened #69 "Getting error in while building for iOS"
speech_recognition` does not specify a Swift version and none of the targets (`Runner`) integrating it have the `SWIFT_VERSION` attribute set. Please contact the author or set the `SWIFT_VERSION` attribute in at least one of the targets that integrate this pod.

[2019-11-19 00:52] ThinkDigitalSoftware commented on #43
I've noticed that both `cancel` and `stop` both result in the plugin invoking the availabilityHandler with returning a result of false. I'm not sure why it has to be activated again.

[2019-11-22 15:56] visualo opened #70 "continuous listening 5 minutes"
Hi,
how to keep listening continuously, at least 5 to 10 minutes?

[2019-11-22 18:15] gustavobilert opened #71 "App crashes when running in background"
I am trying to run some code in background using the workmanager plugin, but simply having speech_recognition as a dependency makes the app crash.
I looks like the problem is that speech_recognition tries to access the activity in the plugin registration, which is not available on headless (background) execution.

Please see the related issue on that project:
https://github.com/vrtdev/flutter_work

[2019-11-24 03:07] woodfox opened #72 "How to receive only final result in setRecognitionResultHandler for iOS"
Currently in iOS it keeps receiving partial result in setRecognitionResultHandler, until it completes speech recognition after a long time.  How to receive only final result in setRecognitionResultHandler? Or can we set the time shorter to trigger onRecognitionComplete?

[2019-11-29 15:17] toshiossada opened #73 "onRecognitionComplete triggered twice"
When I speak some sentence with speech_recognition  the "onRecognitionComplete" are triggered twice, for example, I said "Hello how are you", it triggered "Hello how are" and "Hello how are you"... it's anyway to fix this and trigger just once??

Following logs bellow

I'm using this way

[code]

.
[code]

[2019-11-29 15:21] toshiossada commented on #72
same error here, did you find any way to solve this?

[2019-11-29 15:40] naiadelima commented on #73
I'd also like to get a same solution to this issues =)

[2019-12-03 05:33] loGTve opened #74 "onError6 when i click "Mic button" help me issue.."
Here My Codes

`import 'package:flutter/material.dart';
import 'package:speech_recognition/speech_recognition.dart';

void main() => runApp(MainPage());

class MainPage extends StatelessWidget {
  @override
  Widget build(BuildContext context) {

    return MaterialApp(
      home: VoiceHome(),
    );
  }
}

class VoiceHome extends StatefulWidget {
  @override
  _VoiceHomeState createState() => _V

[2019-12-05 10:34] mploigt opened #75 "Speech recognition only works once"
If you do a recognition, click on stop and try again immediately, no text will be recognised. Only if you wait for approx 30 seconds, recognition will work again.

[2019-12-05 12:33] Edwin-Luijten commented on #73
Encountering the same issue.

[2019-12-06 14:53] tan-yaka commented on #73
I had to comment out `speechChannel.invokeMethod("speech.onRecognitionComplete", transcription);` at line 121 of ` android/src/main/java/bz/rxla/flutter/speechrecognition/SpeechRecognitionPlugin.java` to stop it being called twice.

Also commented out `Log.d(LOG_TAG, "onRmsChanged : " + rmsdB);` to cut down on log output.

[2019-12-06 15:02] toshiossada commented on #73
How do I do this?
![image](https://user-images.githubusercontent.com/2637049/70332387-3a0a6000-1820-11ea-9842-6f88471a7495.png)

[2019-12-06 15:08] tan-yaka commented on #73
Fork the repo and make the changes in your own copy.

You can reference your version in pubspec.yaml with:
[code]

[2019-12-06 15:45] toshiossada commented on #73
thanks I'll do this

[2019-12-12 11:43] DevelopersZink opened #76 "Crash when using speech_recognition with work manager"
This issue is the same described in:
https://github.com/vrtdev/flutter_workmanager/issues/120
and
https://github.com/rxlabz/speech_recognition/issues/71

Work manager crashes if speech recognition is imported in the app.

- If i use speech_recognition without workmanager, everything works fine just adding it in the pubspec.yaml

- When i try to use workmanager its also working. For that, in additi

[2019-12-13 08:20] zgramming opened #77 "setErrorHandler isn't defined"
I follow the documentation [about basic recognition](https://github.com/rxlabz/speech_recognition/blob/master/example/lib/main.dart), But when i write `_speech.setErrorHandler(errorHandler);` **setErrorHandler isn't Defined**.
When i check in _speech Function, yes is dont have **setErrorHandler**
<img src="https://i.stack.imgur.com/MmriY.png" height="500">

[2019-12-19 18:02] ramsham2411 commented on #75
Did you get solution for this one?

[2019-12-19 18:09] ramsham2411 opened #78 "Plugin conflict when using with the flutter_Tts"
I have been using the this plugin with the flutterTts, but the problem is that when the recognition is complete, then i click on the speak button it works for the first time but i later click on the listen(recognising the spoken speech) button, it does not recognise what i speak.
So when later after 30 seconds when i click on the listen button it takes my recognition.
And this is done after every

[2019-12-20 09:26] mploigt commented on #75
Apparently this was a bug in iOS 13.2. In 13.3. it works again.

[2019-12-20 09:26] #75 closed

[2019-12-20 14:07] ramsham2411 commented on #75
I am actually a newbie I just updated the device, but still getting the same error. Do I have to update the flutter as well.

[2019-12-25 02:31] ajayjjoshi opened #79 "Getting audio from the plugin"
Thanks for the great plugin!

Just wanted to put in a feature request. Is there a way to get the audio (in any coded format) from the plugin, apart from the transcribed text as well? I know there are other plugins purely for recording audio, but I was wondering if there's any easy way to get it directly from here.

[2019-12-28 21:24] mlacif1 commented on #70
This would be extremely useful

[2019-12-28 21:26] mlacif1 commented on #61
I believe that this would be beneficial for everybody, maybe to have something like:
listeningTimeBetweenWords: 3 minutes .... it would have a maximum value of, let's say 10 minutes.

[2019-12-31 07:31] peterweb2005 opened #80 "would you please make the result be list of string? instead of currently a string"
used android before, the result is:

[code]

but now

[code]

thanks

[2019-12-31 08:58] #80 closed

[2020-01-03 19:43] venkatanagasai6 commented on #36
I think this happens because of the speech_recognization was containing some deprecated functions and classes which was eliminated by java se we need to wait for the speech_reconization developer to upgrade there project by replacing the deprecated methods with updated once

[2020-01-03 19:43] venkatanagasai6 commented on #58
I think this happens because of the speech_recognization was containing some deprecated functions and classes which was eliminated by java se we need to wait for the speech_reconization developer to upgrade there project by replacing the deprecated methods with updated once

[2020-01-04 03:53] Classy-Bear commented on #58
Yep, any solutions yet to this problem?

[2020-01-04 11:38] venkatanagasai6 commented on #58
We need to upgrade the deprecated functions with the updated functions

[2020-01-04 11:40] venkatanagasai6 commented on #79
Hey does the speech recognition module was working for you for me it was showing some functions are deprecated

[2020-01-05 15:56] aptech-php opened #81 "Execution failed for task ':speech_recognition:verifyReleaseResources'"

[2020-01-05 16:00] #81 closed

[2020-01-05 16:01] namnh06 opened #82 "Execution failed for task ':speech_recognition:verifyReleaseResources'"
Hi guys,

I tried to build an apk with flutter and speech_recognition package but met this bug:

`
FAILURE: Build failed with an exception.
What went wrong:
Execution failed for task ':speech_recognition:verifyReleaseResources'.
1 exception was raised by workers:
com.android.builder.internal.aapt.v2.Aapt2Exception: Android resource linking failed
  /Users/namnh/Projects/revoicer/build/speech_recog

[2020-01-06 05:23] venkatanagasai6 opened #83 "Speech recognition module deprecated"
Need to update some of the functions in speech recognition module

[2020-01-07 16:50] koyadovic commented on #76
Same here:

[code]

[2020-01-08 03:32] Classy-Bear commented on #58
Make sense @venkatanagasai6, do you know another plugin suggestion related to this content?

[2020-01-09 15:46] RichiWIP commented on #82
I had the same problem and fixed it by updating the minSdkVersion and complieSdkVersion in the plugin to 28. If you want to try it out, you can use my fork as source for the plugin:

    speech_recognition:
        git:
            url: https://github.com/webeverde/speech_recognition.git
            ref: master

[2020-01-09 16:28] prantto commented on #45
I have the same Issue. App works fine in the Simulator, but on my iPhone 7 and iPhone 11 the speech recognition doesn't work. Do you found the problem? (Simulator and Phones run all iOS 13.3)

[2020-01-09 20:31] crashinc99 commented on #45
I got it to work a while back. The speech thing is a little quirky. I kept fiddling with the handlers and got the results I wanted. I tried a bunch of different things (months ago) so I don't remember specifically what did. Sorry.

I used these websites to get to where I wanted:

https://pub.dev/packages/speech_recognition
https://steemit.com/utopian-io/@tensor/building-a-flutter-speech-to-textspe

[2020-01-10 12:29] beevelop commented on #47
Wouldn't it be useful to have an optional timeout to configure (like `SpeechTimeout`)? It's unexpected that this behavior differs between iOS and Android.

[2020-01-17 08:16] ramsham2411 commented on #65
@wish4129 Did you fixed it somehow. any solution would be appreciated.
Thanks.

[2020-01-17 19:22] athilams opened #84 ""Encountered error while building for device.""
I'm trying to build for iOS release, but I got this error, and couldn't find a solution anywhere. I couldn't even find some similar error.

Xcode build done.                                            4,3s
Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    /Users/Dev/Downloads/flutter/.pub-cache/hosted/pub.dartlang.org/speech_recognition-0.3.0+1/

[2020-01-20 03:13] wish4129 commented on #65
@ramsham2411 for my problems, it's due to my button's problem, to fix this, you need to either reset/reinitiate the speech_recognition or set it to the ready state will be fine.

[2020-01-23 12:05] Ccastillo06 opened #85 "Is it possible to retrieve more than one result?"
I currently have an App made with Android which I can use for Speech Recognition and returns an Array of coincidences with the word I said.

I'm actually trying to do the same with this package and Flutter, but it only seems to return one coincidence every time I check.

Is there any way to handle the speech recognition in order to retrieve an array of results?

Thanks in advance! :smile:

[2020-01-23 12:07] Ccastillo06 commented on #67
@toshiossada do you know if there's any solution for this yet? Doesn't seem to break my build or anything but is not nice having this warning around.

[2020-01-26 02:49] connorlindsey commented on #77
Same issue.

[2020-01-29 13:48] YuriSousaOliveira opened #86 "Can I use a Audio File to recongnize?"
Hello everyone,

I Want to realize speech to text in one file that I save, is it posible?
If no, Can I save the audio and recognize in the same time?

If some of this are posible, can someone send me a example?

Thanks.
Best Regards.

[2020-02-02 18:09] Haris2032 commented on #82
Hi.
Thanks, @RichiWIP .
I had the same issue as mentioned above, tried your answer.
Now it working fine.
can you tell what happened ?

[2020-02-02 20:55] toshiossada commented on #67
@Ccastillo06  I dont thinkso, I think that package are not be supported anymore, do you know any other package to speech_reognition?

[2020-02-07 11:34] hackstock commented on #79
It works fine for me. I learnt from https://www.youtube.com/watch?v=-rQ_OmPj300.

[2020-02-13 16:23] mointhedev commented on #74
Same error :/

[2020-02-19 09:31] devs4522 opened #87 "Not getting text in recognitionResultHandler function"
//Here I am not getting text (audio which i speaks converted into text) in result. But platform //handler shows below message in console
_platformCallHandler call speech.onRecognitionComplete hello

//My result handler function is here.
_speech.setRecognitionResultHandler((String result) {
        setState(() {
          transcription = result;
          stop();
        });
      }
    );

[2020-02-20 18:29] crashinc99 opened #88 "speech_recognition ios build target change"
I upgraded my phone's ios version to 13.3.1 and it messed up my flutter project.  I don't remember my older phone ios version, but the flutter project ran great and installed the app on my phone as expected.  Since my initial build error I've looked online and tried the following:

**-Upgraded Xcode to 11.3.1**
**-Changed ios build target in IOS to 12.2 in xcode for the flutter runner target in Bu

[2020-02-20 18:33] crashinc99 commented on #88
In looking at the errors I'm getting currently, I'm not seeing any speech_recognition errors.  All my errors initially pertained to speech_recognition, so I posted here.  I guess I should post this somewhere else.

[2020-02-20 20:01] crashinc99 commented on #88
I kept fiddling and got it to compile.  I'm never upgrading iOS again.

[2020-02-20 20:01] #88 closed

[2020-02-21 06:44] Jigneshiosdeveloper commented on #82
Hi @RichiWIP @M0hammedHaris

I have same problem try to build an apk with flutter and speech_recognition package.

* What went wrong:
Execution failed for task ':speech_recognition:verifyReleaseResources'.

     /Users/jigneshpatel/.gradle/caches/transforms-2/files-2.1/0a271e99b6771ad4a84318244d532fb7/core-1.0.0/res/values/values.xml:57:5-88:25: AAPT: error: resource android:attr/fontStyle not fou

[2020-02-21 07:48] RichiWIP commented on #82
I have updated the plugin in our fork to now use android x. This makes it compatible with minSDK 16. I have also created a pull request for the changes. In the mean time, you can use my fork as explained above. Be sure to use the newest version. (Check the commit label in your pubspec.lock)

[2020-02-21 12:41] Jigneshiosdeveloper commented on #82
@RichiWIP Thanks a lot for your response😀

[2020-02-27 18:59] MarisabelC commented on #77
Same issue. How can I handle the error?

[2020-03-02 05:50] kevaltech9teen opened #90 "use 2 different SpeechRecognition variable is not working !!"
i am not able to use 2 different SpeechRecognition in one class. when i initialize both SpeechRecognition like -
_speechRecognition1= new SpeechRecognition();
_speechRecognition2 = new SpeechRecognition();  and when i set setRecognitionResultHandler to both variable , it is override _speechRecognition1 with _speechRecognition2 ...
why ?
if anyone understand my problem , then please give me solutio

[2020-03-03 08:15] mzl1988 commented on #26
Cannot recognize chinese

[2020-03-03 13:17] mpigorini opened #91 "The stop button does not work"
Im testing this library and i realized that the stop button doesnt work on my galazy s10+ but it does work on a galaxy s8.

[2020-03-17 12:47] OmarYehiaDev commented on #82
[code]
I imported it but it shows me error in the function ***onRecognitionComplete***
Here is my code for it :-
``` void onRecognitionComplete() => setState(() => _isListening = false); ```
@RichiWIP So how can I solve it?

[2020-03-17 12:57] RichiWIP commented on #82
I have no errors in our applications using the plugin or in the example bundled with the plugin. Check that you are using the current version of flutter. I can't help you if you don't post the actual error.

[2020-03-17 13:20] OmarYehiaDev commented on #82
@RichiWIP This is the error :-
`The argument type 'void Function()' can't be assigned to the parameter type 'void Function(String)'.dart(argument_type_not_assignable)`

[2020-03-17 13:24] RichiWIP commented on #82
Your version of the plugin is out of date. Sometimes flutter has issues pulling the current version from github. Try commenting out the import, run flutter pub get and the comment it back in and get again.

[2020-03-17 13:48] OmarYehiaDev commented on #82
It worked, thank you so much ❤️️❤️️❤️️

[2020-04-03 14:26] tgbarker commented on #26
Ni hao @mzl1988 @lljxx1 ,
I had the same issue wanting other languages than what the designers of this lib decided. I found this one : https://github.com/csdcorp/speech_to_text
It is currently maintained and works for zh_CN or any other language that is installed on your device. I recommend that one.

[2020-04-05 05:39] awilliams684 commented on #73
So per the two issues on calling completion handler twice I commented the proper lines, in IOS it worked great. However in android I was still receiving multiple callbacks.

To solve this I added a "hack" in the flutter code in my project to set the speech object to null when the onRecognitionComplete() handler is called. Then next time speechStart() is called I reinitialize.

void speechStart() {

[2020-04-06 14:02] Mr-NYA opened #92 "2 Bips"
I hear two beeps after speech detection, how can I fix that??

[2020-04-07 06:41] thasaleni opened #93 "onErrorHandler"
When I look at the commits I see there is a fix for adding the onError but this is not currently on the latest version on the plugin, any idea when this will be added?

[2020-04-14 04:40] viniciuspaludo commented on #87
I'm having same issue.

Note that, in dart raw file, the arguments of transcription are only sent to recognitionResultHandler() on onSpeech, not on onComplete:
[code]

So we lose this trigger after "endOfSpeech" callback.
I'm trying to bypass it, but i can't find out.

On this way i'm always losing last words of the recognition on the transcription state.

[2020-04-14 06:03] rodolZ80 commented on #87
I have the same problems. I solved one of them by changing the type for "recognitionCompleteHandler" from "VoidCallback" to "StringResultHandler" and sending the parameter in recognitionCompleteHandler(call.arguments)  in dart raw file.

[2020-04-14 06:10] rodolZ80 commented on #90
The SpeechRecognition is a Singleton

[code]

[2020-04-16 14:23] viniciuspaludo commented on #87
That's good rodolZ80
Works fine here. :)

What i did, and also works, is add a call to recognitionResultHandler(call.arguments); inside recognitionCompleteHandler in dart raw file

So it triggers ResultHandler after recognition is complete, too.

[2020-05-05 06:59] pinkeshAubergine commented on #61
@rxlabz
It would be really better to have the provision of giving custom time before it stops listening.
Imagine a case where people think about what to say which can take more than 1 sec.

[2020-05-14 03:40] ouli0826 opened #95 "Availability for Mandarin Chinese"
I was just wondering the language code for the mandarin chinese recognition of this package(or if the package is available for mandarin Chinese)

[2020-05-18 10:31] liemvo commented on #84
Can you try to set the swift language to 4.2?

[2020-05-20 15:07] DouglasNel commented on #82
Hi @RichiWIP and @Jigneshiosdeveloper  I don't understand how to fix my error

When i run in debug it works fine however when i build the application I get the below output

What went wrong:

Execution failed for task ':speech_recognition:verifyReleaseResources'.

     C:\Users\Devit-BM\.gradle\caches\transforms-2\files-2.1\a528b13ac93e64cafa3d0480e2c93207\core-1.1.0\res\values\values.xml:142:5-17

[2020-05-24 14:04] ghure opened #96 "Android local language speech detect and text in local language"
I had issues in android for local language recognition.

Issue was **speech_recognition** was not detecting selected language and was giving error **java.lang.IndexOutOfBoundsException**

My code:
_speechRecognition
              .listen(locale: "en-US")
              .then((result) => print('$result'));
      });

_speechRecognition
              .listen(locale: "mr-IN")
              .then((resu

[2020-05-29 06:41] AbhayVAshokan opened #97 "Problem after adding AndroidX Compatability"
I can build the debug app and it works perfectly. But when I try to build the release apk using ```flutter build apk --split-per-abi```, the following error throws up.

[code]

I have included the following version of  ```speech_recognition``` in ```pubspec.yaml``` file.
```speech_recognition: ^0.3.0+1```

I am also attaching the ```flutter doctor``` output with ```--verbose```.
[code]

[2020-05-29 07:34] AbhayVAshokan commented on #97
Closed by
1. Migrating to AndroidX again in Android Studio
2.  ```  speech_recognition:
      git:
        url: https://github.com/webeverde/speech_recognition.git
        ref: master```
instead of using the stable version.

[2020-05-29 07:34] #97 closed

[2020-05-31 16:22] akk99 opened #98 "Old SDK required?"
Hi
When trying to get the dependency defined in the yaml file, I am getting the  following android studio error message:

[code]
How to bypass that limitation?
Thanks.

[2020-05-31 16:29] akk99 commented on #98
Sorry, it is past dependency import - main.dart execution.

[2020-06-04 19:43] devanflores opened #100 "Flutter web?"
How do you get this to work on flutter web?

[2020-07-03 21:12] sarat12us commented on #100
I am looking for the same
How do you get this to work on flutter web?
is there any equal lent that works on web app?

[2020-07-04 12:06] ratnapriya4g commented on #41
You just need to replace this `_speech.setRecognitionCompleteHandler(onRecognitionComplete);` to
` _speech.setRecognitionCompleteHandler((_) => onRecognitionComplete());`.

The error will go automatically.
@SHAKTHI62

[2020-07-05 09:50] AashiqinCode opened #102 "I/flutter (11568): Unknowm method speech.onError on unclear voice"
There is an exception need to be handled in the case of unclear voice or broken voice,The plugin responds as **Unknowm method speech.onError**, We can provide warning toast message and set the state to start from the first

[2020-07-08 07:01] ninjaasmoke opened #103 "Auto detect language"
Is there any way to make the device automatically detect the language

[2020-07-28 15:58] avani17101 commented on #82
Yes it's not working for me :(

[2020-07-31 04:27] ayush1612 commented on #82
Not working plz help!

Error :
The argument type 'void Function()' can't be assigned to the parameter type 'void Function(String)'
[code]

[2020-07-31 15:25] gitpratiksha commented on #19
I had a same issue. To solve this I just gave microphone access permission to my application.
(setting->application permission->on microphone permission

[2020-08-20 23:20] lutang123 opened #104 "How to implement this plugin with a text field and enable user to modify the text?"
Hi,

Can anyone help me with this question? All the example I saw is to show a Text widget, but which kind of App need this? because if it's only a text and if the recording has any mistake, e.g. user say something wrong or has strong accent, then the text is not correct, and user can not change on the screen unless they record a new one, but that's not good user interface, right?

I think it shou

[2020-09-01 09:12] jgrenat commented on #100
The browsers API is not yet well supported (see https://caniuse.com/#feat=speech-recognition).

I guess it would be preferable to use an external speech to text service for now if you want to use it for all your web users and wait for a broader adoption in browsers.

[2020-09-04 23:03] lohnsonok commented on #82
it working thank a lot

[2020-09-14 13:18] pinkeshmars commented on #96
In SpeechRecognitionPlugin.java, you can also change a method like this.

    private Locale getLocale(String code) {
        String[] localeParts;
        if(code.contains("_")){
            localeParts = code.split("_");
        }else{
            localeParts = code.split("-");
        }
        return new Locale(localeParts[0], localeParts[1]);
    }

[2020-10-22 08:33] florianhenonin commented on #82
I'm able to generated an APK with this fork but I still have a bug.
When I speak, onRecognitionComplete() is called twice : first time with the sentence without the last word, and a second time with the complete sentence.
I think onRecognitionComplete should be called once.

[2020-11-18 03:44] hortigado opened #106 "Stop when voice end"
How i can put to that speech no stop when the person end of speech?

[2020-11-19 04:54] hortigado commented on #51
we are waiting

[2020-12-03 11:41] aviv187 commented on #91
you can detect the device language with the setCurrentLocaleHandler in the initState

SpeechRecognition _speech;
//......

String deviceLang;
//......

@override
  initState() {
    super.initState();
    //......
    //......
    _speech.setCurrentLocaleHandler(onCurrentLocale);
    //......
    //......
  }

void onCurrentLocale(String locale) {
    setState(
        () => deviceLang = locale);

[2020-12-03 11:48] aviv187 commented on #103
you can detect the device language with the setCurrentLocaleHandler in the initState
[code]

[2020-12-03 11:52] #103 closed

[2020-12-09 11:43] flozi00 commented on #100
@rxlabz would be very cool to have it here
The workaround with js in dart is pretty uncool, would be nice if it's in this library

[2020-12-16 14:42] viralvaghela commented on #102
I am also getting the same error when pressing listen button

[2020-12-16 14:42] viralvaghela opened #108 "Unknowm method speech.onError"
I am getting this error when pressing the listen button
[code]

[2020-12-30 10:58] mehmetext commented on #108
Same error, look at this please.

[2021-01-21 10:02] RuchiMakadia commented on #72
same issue

[2021-01-27 11:04] bjkroeger opened #109 "new problem on flutter > iOS build (from android studio)"
Hey,
during flutter -> iOS build (from android studio)
the build was done during last days ...
Bot Now: today:
the build failed
Message is :
    /Users/berndkroeger/flutter/.pub-cache/hosted/pub.dartlang.org/speech_recognition-0.3.0+1/ios/Classes/SwiftSpeechRecognitionPlugin.swift:57:9: warning: switch covers known cases, but 'SFSpeechRecognizerAuthorizationStatus' may have additional unknown valu

[2021-02-03 07:17] bjkroeger commented on #109
this error did not appear again for whatever reason ... speech recognition it is working now with iOS without any problems!

[2021-02-03 07:17] #109 closed

[2021-02-03 07:25] bjkroeger opened #110 "does not work for Android while is working with iOS"
Speech Recognitions works with iOS , but with android I get no recognition:
running your example gives:
E/SpeechRecognizer( 6042): bind to recognition service failed

I edited AndroidManifest.xml correctly -> adding:
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

See the resulting screenshot I get during ru

[2021-02-06 17:24] sagaracharya24 commented on #72
Have you guys got any solution yet?

[2021-03-09 06:30] bietkul opened #111 "Is it possible to get the .mp3 file?"
I want to access the recorded audio to use the third-party Speech to text API instead of native API to evaluate the text.
How can we get the recorded audio?

[2021-03-09 12:55] bietkul opened #112 "Listen unless user finishes"
Instead of setting the `listenFor` property I only want to wait for the time when the user is speaking.

[2021-03-15 11:48] #112 closed

[2021-03-15 11:48] #111 closed

[2021-06-24 07:58] exeptionerror commented on #41
All Possible Solution added here [[Solved] The argument type ‘Future’ can’t be assigned to the parameter type ‘void Function()’](https://fluttercorner.com/error-the-argument-type-future-cant-be-assigned-to-the-parameter-type-void/)

[2021-09-22 07:02] waleed-sofstica commented on #82
this is working 100% fine... thanks alot

[2021-11-05 02:13] alexlovar commented on #108
same here

[code]

[2022-01-19 18:42] crashinc99 opened #114 "Can this be used offline?"
Not an issue but a question:

I found a stackoverflow post that mentions that speech_recognition can be used offline?   Ref: https://stackoverflow.com/questions/58060889/flutter-dart-speech-to-text-offline-and-continuous-for-any-language

Is offline mode available?   I'm not seeing a way to configure this.

I'm trying to implement voice commands.    I really only need 3 words to be recognized.   A

[2022-02-16 13:46] #66 closed

[2022-02-16 13:47] #67 closed

[2022-02-16 13:47] #73 closed